local wezterm = require("wezterm")
local config = wezterm.config_builder()

config.font = wezterm.font_with_fallback({
	"x14y24pxHeadUpDaisy",
	"Symbols Nerd Font Mono",
})

config.allow_square_glyphs_to_overflow_width = "Always"
config.font_size = 16

config.color_schemes = {
	["HatsuneMiku"] = {
		foreground = "{{ .color.fg }}",
		background = "{{ .color.bg }}",

		cursor_bg     = "{{ .color.cursor }}",
		cursor_border = "{{ .color.cursor }}",
		cursor_fg     = "{{ .color.bg }}",

		selection_bg = "{{ .color.selection_bg }}",
		selection_fg = "{{ .color.fg }}",

		ansi = {
			"{{ .color.black }}",
			"{{ .color.red }}",
			"{{ .color.green }}",
			"{{ .color.yellow }}",
			"{{ .color.blue }}",
			"{{ .color.magenta }}",
			"{{ .color.cyan }}",
			"{{ .color.white }}",
		},
		brights = {
			"{{ .color.br_black }}",
			"{{ .color.br_red }}",
			"{{ .color.br_green }}",
			"{{ .color.br_yellow }}",
			"{{ .color.br_blue }}",
			"{{ .color.br_magenta }}",
			"{{ .color.br_cyan }}",
			"{{ .color.br_white }}",
		},
	},
}

config.color_scheme = "HatsuneMiku"

config.default_cursor_style = "BlinkingBlock"
config.cursor_blink_rate = 500

config.window_decorations = "INTEGRATED_BUTTONS"
config.window_padding = {
	left = 12,
	right = 12,
	top = 12,
	bottom = 12,
}

config.enable_tab_bar = false
config.keys = {
	{ key = "t", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
	{ key = "t", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
	{ key = "Tab", mods = "CTRL", action = wezterm.action.DisableDefaultAssignment },
	{ key = "Tab", mods = "CTRL|SHIFT", action = wezterm.action.DisableDefaultAssignment },
	{ key = "w", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
	{ key = '"', mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
	{ key = "%", mods = "CMD", action = wezterm.action.DisableDefaultAssignment },
}

return config
