sourceDir = "{{ .chezmoi.homeDir }}/src/github.com/yu-hasebe/dotfiles"
remove = true

[data.color]
  bg           = "#1f1f28"
  fg           = "#dcd7ba"
  cursor       = "#c8c093"
  selection_bg = "#2d4f67"
  bg_highlight = "#2a2a37"

  # ANSI 0-7
  black   = "#16161d"
  red     = "#c34043"
  green   = "#76946a"
  yellow  = "#c0a36e"
  blue    = "#7e9cd8"
  magenta = "#957fb8"
  cyan    = "#6a9589"
  white   = "#c8c093"

  # Bright ANSI 8-15
  br_black   = "#727169"
  br_red     = "#e82424"
  br_green   = "#98bb6c"
  br_yellow  = "#e6c384"
  br_blue    = "#7fb4ca"
  br_magenta = "#938aa9"
  br_cyan    = "#7aa89f"
  br_white   = "#dcd7ba"
