sourceDir = "{{ .chezmoi.homeDir }}/src/github.com/yu-hasebe/dotfiles"
remove = true

[data.color]
  bg           = "#242829"
  fg           = "#dcd7d7"
  cursor       = "#7b8b99"
  selection_bg = "#4d4d43"
  bg_highlight = "#2e3235"

  # ANSI 0-7
  black   = "#242829"
  red     = "#df2683"
  green   = "#13868c"
  yellow  = "#fcfcdf"
  blue    = "#1a86b9"
  magenta = "#bc7fd2"
  cyan    = "#7cc7d6"
  white   = "#4a4b4b"

  # Bright ANSI 8-15
  br_black   = "#7b8b99"
  br_red     = "#df2683"
  br_green   = "#13868c"
  br_yellow  = "#fcfcdf"
  br_blue    = "#1a86b9"
  br_magenta = "#bc7fd2"
  br_cyan    = "#7cc7d6"
  br_white   = "#dcd7d7"
