sourceDir = "{{ .chezmoi.homeDir }}/src/github.com/yu-hasebe/dotfiles"
remove = true

[data.color]
  bg           = "#18162a"
  fg           = "#ddd0b0"
  cursor       = "#c8991e"
  selection_bg = "#3a2e5e"
  bg_highlight = "#221e3a"

  # ANSI 0-7
  black   = "#18162a"
  red     = "#c43030"
  green   = "#2a9e5a"
  yellow  = "#c8991e"
  blue    = "#3068c8"
  magenta = "#9045b8"
  cyan    = "#18a8a0"
  white   = "#48445e"

  # Bright ANSI 8-15
  br_black   = "#7e7a96"
  br_red     = "#e84848"
  br_green   = "#46c87a"
  br_yellow  = "#e0b83a"
  br_blue    = "#5088e0"
  br_magenta = "#b060d8"
  br_cyan    = "#38d0c8"
  br_white   = "#ddd0b0"
