vim.cmd("highlight clear")
if vim.fn.exists("syntax_on") == 1 then
	vim.cmd("syntax reset")
end
vim.g.colors_name = "goldensun"
vim.o.background = "dark"

local c = {
	bg           = "{{ .color.bg }}",
	fg           = "{{ .color.fg }}",
	cursor       = "{{ .color.cursor }}",
	sel_bg       = "{{ .color.selection_bg }}",
	bg_hl        = "{{ .color.bg_highlight }}",
	black        = "{{ .color.black }}",
	red          = "{{ .color.red }}",
	green        = "{{ .color.green }}",
	yellow       = "{{ .color.yellow }}",
	blue         = "{{ .color.blue }}",
	magenta      = "{{ .color.magenta }}",
	cyan         = "{{ .color.cyan }}",
	white        = "{{ .color.white }}",
	br_black     = "{{ .color.br_black }}",
	br_white     = "{{ .color.br_white }}",
}

local function hi(group, opts)
	vim.api.nvim_set_hl(0, group, opts)
end

-- Editor UI
hi("Normal",         { fg = c.fg, bg = c.bg })
hi("NormalFloat",    { fg = c.fg, bg = c.bg_hl })
hi("NormalNC",       { fg = c.fg, bg = c.bg })
hi("Cursor",         { fg = c.bg, bg = c.cursor })
hi("CursorLine",     { bg = c.bg_hl })
hi("CursorLineNr",   { fg = c.cursor, bold = true })
hi("LineNr",         { fg = c.br_black })
hi("SignColumn",     { fg = c.br_black, bg = c.bg })
hi("ColorColumn",    { bg = c.bg_hl })
hi("Visual",         { bg = c.sel_bg })
hi("VisualNOS",      { bg = c.sel_bg })
hi("Search",         { fg = c.bg, bg = c.yellow })
hi("IncSearch",      { fg = c.bg, bg = c.red })
hi("CurSearch",      { fg = c.bg, bg = c.red })
hi("MatchParen",     { fg = c.cyan, bold = true })
hi("Pmenu",          { fg = c.fg, bg = c.bg_hl })
hi("PmenuSel",       { fg = c.bg, bg = c.cyan })
hi("PmenuSbar",      { bg = c.bg_hl })
hi("PmenuThumb",     { bg = c.br_black })
hi("StatusLine",     { fg = c.fg, bg = c.sel_bg })
hi("StatusLineNC",   { fg = c.br_black, bg = c.bg })
hi("WinSeparator",   { fg = c.br_black })
hi("TabLine",        { fg = c.br_black, bg = c.bg })
hi("TabLineSel",     { fg = c.fg, bg = c.bg, bold = true })
hi("TabLineFill",    { bg = c.bg })
hi("NonText",        { fg = c.br_black })
hi("SpecialKey",     { fg = c.br_black })
hi("Folded",         { fg = c.br_black, bg = c.bg_hl })
hi("FoldColumn",     { fg = c.br_black, bg = c.bg })
hi("Title",          { fg = c.blue, bold = true })
hi("Directory",      { fg = c.blue })
hi("EndOfBuffer",    { fg = c.br_black })
hi("MsgArea",        { fg = c.fg, bg = c.bg })
hi("WildMenu",       { fg = c.bg, bg = c.cyan })
hi("QuickFixLine",   { bg = c.sel_bg })
hi("ModeMsg",        { fg = c.fg, bold = true })
hi("MoreMsg",        { fg = c.green })
hi("Question",       { fg = c.green })
hi("ErrorMsg",       { fg = c.red, bold = true })
hi("WarningMsg",     { fg = c.yellow, bold = true })

-- Diff
hi("DiffAdd",        { fg = c.green })
hi("DiffDelete",     { fg = c.red })
hi("DiffChange",     { fg = c.yellow })
hi("DiffText",       { fg = c.yellow, bold = true })
hi("Added",          { fg = c.green })
hi("Removed",        { fg = c.red })
hi("Changed",        { fg = c.yellow })

-- Syntax
hi("Comment",        { fg = c.br_black, italic = true })
hi("Constant",       { fg = c.cyan })
hi("String",         { fg = c.green })
hi("Character",      { fg = c.green })
hi("Number",         { fg = c.magenta })
hi("Boolean",        { fg = c.magenta })
hi("Float",          { fg = c.magenta })
hi("Identifier",     { fg = c.fg })
hi("Function",       { fg = c.blue })
hi("Statement",      { fg = c.red })
hi("Keyword",        { fg = c.red })
hi("Conditional",    { fg = c.red })
hi("Repeat",         { fg = c.red })
hi("Label",          { fg = c.red })
hi("Operator",       { fg = c.cyan })
hi("Exception",      { fg = c.red })
hi("PreProc",        { fg = c.yellow })
hi("Include",        { fg = c.blue })
hi("Define",         { fg = c.magenta })
hi("Macro",          { fg = c.magenta })
hi("PreCondit",      { fg = c.yellow })
hi("Type",           { fg = c.yellow })
hi("StorageClass",   { fg = c.yellow })
hi("Structure",      { fg = c.yellow })
hi("Typedef",        { fg = c.yellow })
hi("Special",        { fg = c.cyan })
hi("SpecialChar",    { fg = c.cyan })
hi("Tag",            { fg = c.red })
hi("Delimiter",      { fg = c.fg })
hi("SpecialComment", { fg = c.br_black, italic = true })
hi("Error",          { fg = c.red })
hi("Todo",           { fg = c.yellow, bold = true })
hi("Underlined",     { underline = true })

-- Treesitter
hi("@comment",               { link = "Comment" })
hi("@comment.documentation", { fg = c.br_black, italic = true })
hi("@string",                { link = "String" })
hi("@string.escape",         { fg = c.cyan })
hi("@string.special",        { fg = c.cyan })
hi("@number",                { link = "Number" })
hi("@number.float",          { link = "Float" })
hi("@boolean",               { link = "Boolean" })
hi("@function",              { link = "Function" })
hi("@function.call",         { link = "Function" })
hi("@function.builtin",      { fg = c.cyan })
hi("@function.method",       { link = "Function" })
hi("@function.method.call",  { link = "Function" })
hi("@constructor",           { fg = c.yellow })
hi("@keyword",               { link = "Keyword" })
hi("@keyword.function",      { link = "Keyword" })
hi("@keyword.return",        { link = "Keyword" })
hi("@keyword.operator",      { link = "Operator" })
hi("@keyword.import",        { link = "Include" })
hi("@keyword.type",          { link = "Type" })
hi("@conditional",           { link = "Conditional" })
hi("@repeat",                { link = "Repeat" })
hi("@operator",              { link = "Operator" })
hi("@type",                  { link = "Type" })
hi("@type.builtin",          { fg = c.yellow, italic = true })
hi("@type.definition",       { link = "Typedef" })
hi("@variable",              { fg = c.fg })
hi("@variable.builtin",      { fg = c.magenta })
hi("@variable.parameter",    { fg = c.fg })
hi("@variable.member",       { fg = c.cyan })
hi("@property",              { fg = c.cyan })
hi("@namespace",             { fg = c.yellow })
hi("@module",                { fg = c.yellow })
hi("@label",                 { fg = c.red })
hi("@include",               { link = "Include" })
hi("@punctuation.bracket",   { fg = c.fg })
hi("@punctuation.delimiter", { fg = c.fg })
hi("@punctuation.special",   { fg = c.cyan })
hi("@tag",                   { fg = c.red })
hi("@tag.attribute",         { fg = c.cyan })
hi("@tag.delimiter",         { fg = c.fg })

-- LSP semantic tokens
hi("@lsp.type.function",     { link = "Function" })
hi("@lsp.type.method",       { link = "Function" })
hi("@lsp.type.variable",     { fg = c.fg })
hi("@lsp.type.parameter",    { fg = c.fg })
hi("@lsp.type.property",     { fg = c.cyan })
hi("@lsp.type.keyword",      { link = "Keyword" })
hi("@lsp.type.type",         { link = "Type" })
hi("@lsp.type.class",        { link = "Type" })
hi("@lsp.type.interface",    { link = "Type" })
hi("@lsp.type.struct",       { link = "Structure" })
hi("@lsp.type.enum",         { link = "Type" })
hi("@lsp.type.enumMember",   { fg = c.cyan })
hi("@lsp.type.namespace",    { fg = c.yellow })
hi("@lsp.type.macro",        { link = "Macro" })
hi("@lsp.type.comment",      { link = "Comment" })

-- Diagnostics
hi("DiagnosticError",          { fg = c.red })
hi("DiagnosticWarn",           { fg = c.yellow })
hi("DiagnosticInfo",           { fg = c.blue })
hi("DiagnosticHint",           { fg = c.cyan })
hi("DiagnosticOk",             { fg = c.green })
hi("DiagnosticUnderlineError", { underline = true, sp = c.red })
hi("DiagnosticUnderlineWarn",  { underline = true, sp = c.yellow })
hi("DiagnosticUnderlineInfo",  { underline = true, sp = c.blue })
hi("DiagnosticUnderlineHint",  { underline = true, sp = c.cyan })
hi("DiagnosticVirtualTextError", { fg = c.red })
hi("DiagnosticVirtualTextWarn",  { fg = c.yellow })
hi("DiagnosticVirtualTextInfo",  { fg = c.blue })
hi("DiagnosticVirtualTextHint",  { fg = c.cyan })
hi("LspReferenceText",  { bg = c.sel_bg })
hi("LspReferenceRead",  { bg = c.sel_bg })
hi("LspReferenceWrite", { bg = c.sel_bg })

-- mini.nvim
hi("MiniHipatternsFixme", { fg = c.bg, bg = c.red,    bold = true })
hi("MiniHipatternsTodo",  { fg = c.bg, bg = c.yellow, bold = true })
hi("MiniHipatternsNote",  { fg = c.bg, bg = c.cyan,   bold = true })
hi("MiniStatuslineModeNormal",  { fg = c.bg, bg = c.br_black, bold = true })
hi("MiniStatuslineModeInsert",  { fg = c.bg, bg = c.green,    bold = true })
hi("MiniStatuslineModeVisual",  { fg = c.bg, bg = c.magenta,  bold = true })
hi("MiniStatuslineModeReplace", { fg = c.bg, bg = c.red,      bold = true })
hi("MiniStatuslineModeCommand", { fg = c.bg, bg = c.yellow,   bold = true })
hi("MiniStatuslineModeOther",   { fg = c.bg, bg = c.cyan,     bold = true })
hi("MiniStatuslineFilename",    { fg = c.fg, bg = c.bg_hl })
hi("MiniStatuslineFileinfo",    { fg = c.fg, bg = c.bg_hl })
hi("MiniStatuslineInactive",    { fg = c.br_black, bg = c.bg })
hi("MiniCursorword",            { bg = c.sel_bg })
hi("MiniCursorwordCurrent",     { bg = c.sel_bg })
hi("MiniIndentscopeSymbol",     { fg = c.br_black })
hi("MiniStarterHeader",         { fg = c.cyan, bold = true })
hi("MiniStarterFooter",         { fg = c.br_black })
hi("MiniStarterItem",           { fg = c.fg, bg = c.bg })
hi("MiniStarterItemBullet",     { fg = c.br_black })
hi("MiniStarterItemPrefix",     { fg = c.red })
hi("MiniStarterSection",        { fg = c.blue })
hi("MiniStarterQuery",          { fg = c.cyan })
hi("MiniMapNormal",             { fg = c.fg, bg = c.bg_hl })
hi("MiniMapSymbolCount",        { fg = c.cyan })
hi("MiniMapSymbolLine",         { fg = c.br_black })
hi("MiniMapSymbolView",         { fg = c.yellow })
